In [1]:
from pyspark import SparkContext

In [2]:
from datetime import datetime

In [3]:
sc = SparkContext(master='local[*]', appName = 'First Spark App')

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/12/16 02:40:09 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
lines = sc.textFile('/home/maryam/content/lax_passengers_header.csv')

In [20]:
# Extract the header 
header = lines.first()

In [30]:
# Function to parse CSV lines and extract the ReportPeriod month, year, and Passenger_Count for specific terminals
def parse_line(line):
    try:
        if line == header:
            return None
        fields = line.split(',')
        report_period = fields[1]  # ReportPeriod is the second field
        terminal = fields[2]  # Terminal is the third field
        passenger_count = int(fields[5])  # Passenger_Count is the sixth field
        
        # Filter for terminals 1 to 8 and Tom Bradley International Terminal
        valid_terminals = [f'Terminal {i}' for i in range(1, 9)] + ['Tom Bradley International Terminal']
        if terminal in valid_terminals:
            # Parse the date and format as "Month YYYY"
            date_obj = datetime.strptime(report_period, '%m/%d/%Y %I:%M:%S %p')
            month_year = date_obj.strftime('%B %Y')
            return (month_year, passenger_count)
        else:
            return None
    except Exception as e:
        print(f"Error parsing line: {line}, Error: {e}")
        return None

In [31]:
# Parse the CSV lines and filter out invalid rows 
parsed_lines = lines.map(parse_line).filter(lambda x: x is not None)

In [32]:
# Aggregate data by month (sum the Passenger_Count) 
monthly_passenger_counts = parsed_lines.reduceByKey(lambda a, b: a + b)

In [36]:
# Filter results to include only those with passenger counts over 5 million 
filtered_results = monthly_passenger_counts.filter(lambda x: x[1] > 5_000_000)

In [37]:
# Collect and print the result
try:
    results = filtered_results.collect()
    for result in results:
        print(f"Month-Year: {result[0]}, Total Passengers: {result[1]}")
except Exception as e:
    print(f"Error collecting results: {e}")

Month-Year: March 2006, Total Passengers: 5088556
Month-Year: April 2006, Total Passengers: 5085946
Month-Year: June 2006, Total Passengers: 5509853
Month-Year: July 2006, Total Passengers: 5919529
Month-Year: August 2006, Total Passengers: 5745000
Month-Year: December 2006, Total Passengers: 5070491
Month-Year: March 2007, Total Passengers: 5240144
Month-Year: May 2007, Total Passengers: 5256763
Month-Year: June 2007, Total Passengers: 5626291
Month-Year: July 2007, Total Passengers: 6052466
Month-Year: October 2007, Total Passengers: 5069354
Month-Year: March 2008, Total Passengers: 5232233
Month-Year: June 2008, Total Passengers: 5538956
Month-Year: August 2008, Total Passengers: 5714031
Month-Year: June 2010, Total Passengers: 5311142
Month-Year: April 2011, Total Passengers: 5028056
Month-Year: May 2011, Total Passengers: 5476704
Month-Year: July 2011, Total Passengers: 6071335
Month-Year: August 2011, Total Passengers: 5918484
Month-Year: December 2011, Total Passengers: 5025839
Month-Year: March 2012, Total Passengers: 5252277
Month-Year: May 2012, Total Passengers: 5412646
Month-Year: July 2012, Total Passengers: 6190236
Month-Year: September 2012, Total Passengers: 5053923
Month-Year: October 2012, Total Passengers: 5190645
Month-Year: March 2013, Total Passengers: 5385531
Month-Year: May 2013, Total Passengers: 5557314
Month-Year: August 2013, Total Passengers: 6160839
Month-Year: January 2014, Total Passengers: 5263473
Month-Year: April 2014, Total Passengers: 5614336
Month-Year: July 2014, Total Passengers: 6709940
Month-Year: September 2014, Total Passengers: 5478410
Month-Year: November 2014, Total Passengers: 5288012
Month-Year: January 2015, Total Passengers: 5339983
Month-Year: May 2015, Total Passengers: 6148998
Month-Year: August 2015, Total Passengers: 6902789
Month-Year: September 2015, Total Passengers: 5852619
Month-Year: October 2015, Total Passengers: 6183076
Month-Year: December 2015, Total Passengers: 6196206
Month-Year: March 2016, Total Passengers: 6277897
Month-Year: October 2016, Total Passengers: 6629325
Month-Year: November 2016, Total Passengers: 6272290
Month-Year: January 2017, Total Passengers: 6213892
Month-Year: May 2017, Total Passengers: 6933026
Month-Year: August 2017, Total Passengers: 7674171
Month-Year: May 2006, Total Passengers: 5176330
Month-Year: April 2007, Total Passengers: 5172120
Month-Year: August 2007, Total Passengers: 5939540
Month-Year: December 2007, Total Passengers: 5186354
Month-Year: May 2008, Total Passengers: 5247792
Month-Year: July 2008, Total Passengers: 5790776
Month-Year: June 2009, Total Passengers: 5040114
Month-Year: July 2009, Total Passengers: 5603652
Month-Year: August 2009, Total Passengers: 5437347
Month-Year: July 2010, Total Passengers: 5692210
Month-Year: August 2010, Total Passengers: 5617610
Month-Year: December 2010, Total Passengers: 5045354
Month-Year: June 2011, Total Passengers: 5631602
Month-Year: October 2011, Total Passengers: 5124462
Month-Year: April 2012, Total Passengers: 5160973
Month-Year: June 2012, Total Passengers: 5739649
Month-Year: August 2012, Total Passengers: 6093051
Month-Year: December 2012, Total Passengers: 5176037
Month-Year: April 2013, Total Passengers: 5157963
Month-Year: June 2013, Total Passengers: 5947409
Month-Year: July 2013, Total Passengers: 6292610
Month-Year: September 2013, Total Passengers: 5159762
Month-Year: October 2013, Total Passengers: 5386378
Month-Year: December 2013, Total Passengers: 5606038
Month-Year: March 2014, Total Passengers: 5622137
Month-Year: May 2014, Total Passengers: 5925513
Month-Year: June 2014, Total Passengers: 6373135
Month-Year: August 2014, Total Passengers: 6595721
Month-Year: October 2014, Total Passengers: 5766258
Month-Year: December 2014, Total Passengers: 5825265
Month-Year: March 2015, Total Passengers: 5916774
Month-Year: April 2015, Total Passengers: 5746373
Month-Year: June 2015, Total Passengers: 6579357
Month-Year: July 2015, Total Passengers: 7063573
Month-Year: November 2015, Total Passengers: 5838539
Month-Year: January 2016, Total Passengers: 5869759
Month-Year: February 2016, Total Passengers: 5280381
Month-Year: April 2016, Total Passengers: 6109205
Month-Year: May 2016, Total Passengers: 6571091
Month-Year: June 2016, Total Passengers: 7230571
Month-Year: July 2016, Total Passengers: 7621225
Month-Year: August 2016, Total Passengers: 7344648
Month-Year: September 2016, Total Passengers: 6375328
Month-Year: December 2016, Total Passengers: 6640915
Month-Year: February 2017, Total Passengers: 5387511
Month-Year: March 2017, Total Passengers: 6525366
Month-Year: April 2017, Total Passengers: 6640015
Month-Year: June 2017, Total Passengers: 7470964
Month-Year: July 2017, Total Passengers: 7910993